# Copy this file to backend.tf after the state bucket exists.
# Then run:
#   terraform init -migrate-state

terraform {
  backend "s3" {
    bucket         = "replace-with-terraform-state-bucket"
    key            = "eepistore/dev/terraform.tfstate"
    region         = "ap-southeast-3"
    use_lockfile = true
    kms_key_id   = "replace-with-terraform-state-kms-key-arn"
    encrypt      = true
  }
}
